<head>
    <meta name="theme-color" content="#a97189">
    <meta property="og:title" content="Smiley.js" />
    <meta property="og:locale" content="en_US" />
    <meta
        content='https://github.com/Smiley422/Smiley422.github.io/blob/adc8135e48169907385587a61ba5864e45344d59/favicons/favicon.png'
        property='og:image'>
        <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <meta name="robots" content="noindex, nofollow, noarchive, nocache, nosnippet, noimageindex">
</head>